@model VKInfo.Models.Language
@{
	ViewBag.Title = "Contacts";
}
<section class="well">
	<h2>Контакты</h2>
	<div id="contacts" class="left">
		<p>
			Мы всегда рады обсудить с Вами вопросы сотрудничества, а также поделиться самой
			новой информацией о наших разработках. С нами вы можете связаться по любому из указанных
			каналов
		</p>
		Заходите:&nbsp;г. Пермь, ул. Пушкина, 21<br />
		Звоните:&nbsp;+7 (342) 247-90-09<br />
		Стучитесь:&nbsp;
		<img alt="" src="http://status.icq.com/online.gif?icq=149968630&img=5" style="vertical-align: middle" />&nbsp;149-968-630
	</div>
</section>
