<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TextClassificatorEntities" connectionString="metadata=res://*/TextClassificatorEntityes.csdl|res://*/TextClassificatorEntityes.ssdl|res://*/TextClassificatorEntityes.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;zion-v&quot;;initial catalog=TextClassificator;persist security info=True;user id=sa;password=!!!!!sql1;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>