@{
	ViewBag.Title = "Index";
}

<section class="well">
	<h2 class="alert alert-error">На данный момент поддерживается поиск только по <strong>ВКонтакте</strong>.
	</h2>
	<p class="alert alert-info">
		Анализ профайлов <b>Facebook, Twitter, LiveJournal</b> скоро будет!
	</p>
</section>
