<h2 class="left">В каких случаях, стоит использовать Manology</h2>
<b>Первая встреча или свидание</b><p>
	Узнайте истинные интересы человека.<br />
	Удивите его, с первых минут, начав разговор о том что действительно интересно человеку.
</p>
<b>Прием на работу или подготовка к переговорам</b><p>
	Узнайте интересы и психотип человека
		с которым предстоит встреча<br />
	Узнайте насколько часто человек матерится и пишет пишет сам в социальных сетях.
</p>
<b>Узнать больше о себе</b><p>
	Узнайте, кто ставит Вам больше всего лайков? Какие ваши
		посты и фотографии наболее популярны.
</p>
<b>Сравнить двух людей</b><p>
	Узнайте общие друзья и общие увлечения двух людей, сравните
		их популярность, одинаковые группы и перепосты на стене.
</p>
<b>Найти друзей по интересам</b><p>
	Расширяйте круги общения, найдите себе друзей, которые
		увлечены темами интересными Вам.
</p>
